# fly.toml app configuration file generated for ai-sdk-curso on 2025-12-06T09:32:54-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ai-sdk-curso'
primary_region = 'dfw'

[build]

[env]
  NODE_ENV = 'production'
  DATABASE_URL = '/data/chat.db'
  ALLOWED_ORIGINS = 'https://codepen.io'

[mounts]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
